# Virtual Environment
snake_ai_env/

# Python Cache Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Old Training Models
__old_models/
*.pth

# PyTorch Model Checkpoints
snake_model.pth

# results on parameter change
training_results.txt

# System Files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE Configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
